h1{
	color: #9900cc;
}
/*always use period when referring to a class*/
.mainheadline {
	color:#cc99ff;
}

.image{
	width:300px;
}
.navigation {
	background-color:purple ;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 50px;
	
}

.pictures {
	border: 2px solid black;
	width: 200px;
	margin: 0 10px;
}

